#msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    color: rgb(212, 49, 76);
    visibility: hidden;
}

.big-box{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: absolute;
    top: 35%;
    left: 35%;
}

.die-box{
    display: flex;
    gap: 10rem;
}

.dice-box-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dice-box{
    display: flex;
    gap: 2rem;
}

#die1, #die2, #die3, #die4{
    color: rgb(25, 145, 145);
    font-size: 3rem;
}

.dice-btn{
    background-color: rgb(227, 236, 201);
    border-radius: 10%;
    width: 7rem;
    position: relative;
    left: 30%;
}

.dice-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@keyframes tilt-horizontal-shaking {
    0% { transform: rotate(0deg) translateX(0); }
    25% { transform: rotate(5deg) translateX(5px); }
    50% { transform: rotate(0deg) translateX(-5px); }
    75% { transform: rotate(-5deg) translateX(5px); }
    100% { transform: rotate(0deg) translateX(0); }
}